$bg: white;
$bg_secondary: #f3f3f3;
$primary: #2f2f2f;
$success: #58D68D;
$error: #EC7063;
$secondary: #f3f3f3;
$accent: #4246f5;

//Text
$color_primary: $primary;
$color_secondary: gray;
$text-slate-300: rgb(203 213 225);
$text-slate-400: rgb(148 163 184);
$text-slate-500: rgb(100 116 139);
$text-slate-600: rgb(71 85 105);